@page "/icons/bootstrap/styling"

<PageTitle>Vizor - Bootstrap Icons</PageTitle>

<div class="row my-4">
	<div class="col-md-4">
		<h2 id="styling">Color</h2>
		<p>
			Color can be changed by setting a <code>.text-*</code> class or custom CSS:
		</p>
	</div>
	<div class="col-md-8">
		<div class="card">
			<div class="card-body">
				<BootstrapSvgIcon Icon="BootstrapSvgIcon.ExclamationTriangle" Width="32" Height="32" CssClass="text-success" />
			</div>
			<div class="card-footer">
				TODO
			</div>
		</div>
	</div>
</div>

<div class="row my-4">
	<div class="col-md-4">
		<h2 id="styling">Size</h2>
		<p>
			TODO
		</p>
	</div>
	<div class="col-md-8">
		<div class="card">
			<div class="card-body">
				<BootstrapSvgIcon Icon="BootstrapSvgIcon.Heart" Width="16" Height="16" />
				<BootstrapSvgIcon Icon="BootstrapSvgIcon.Heart" Width="24" Height="24" />
				<BootstrapSvgIcon Icon="BootstrapSvgIcon.Heart" Width="32" Height="32" />
			</div>
			<div class="card-footer">
				TODO
			</div>
		</div>
	</div>
</div>

@code {

}
